<launch>

	<!--bagfile -->
  	<param name="use_sim_time" value="true" />
  	<arg name="bagfile" default="/home/sparus/bagfiles/usbl-tests.bag"/>
  	<node pkg="rosbag" type="play" name="rosbag" args="-l --clock $(arg bagfile)"/>

  <!-- start the modem -->
  <node name="modem" pkg="evologics_ros" type="evologics_node.py" output="screen">
    <rosparam command="load" file="$(find evologics_ros)/conf/modem.yaml" />
  </node>

	<!--ROSSerial -->
	<node pkg="rosserial_server" type="serial_node" name="rosserial_server" output="screen">
		<rosparam command="load" file="$(find rosserial_server)/config/params_modem.yaml"/>
	</node>

	<!--Ros serial python -->
	<node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />  
</launch>
