<launch>
  <!--USBL node -->
  <node pkg="rosserial_server" type="serial_node" name="rosserial_server_usbl" output="screen">
  	<rosparam command="load" file="$(find rosserial_server)/config/params_usbl.yaml"/>
  	<!--Remap: the input of the USBL node will be the output of the AUV -->
  	<remap from="/rosserial_server_usbl/input" to="/rosserial_server_auv/output"/>
  </node>

  <!--AUV node -->
  <node pkg="rosserial_server" type="serial_node" name="rosserial_server_auv" output="screen">
  	<rosparam command="load" file="$(find rosserial_server)/config/params_auv.yaml"/>
  </node>

  <!--Publisher ("cola2_control/thrusters_data0") -->
  <node pkg="acoustic_link" type="publisher" name="publisher" output="screen" />

  <!--Ros serial python -->
  <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />
</launch>
